In [2]:
import pandas as pd
import sklearn as sk

In [2]:
pd.read_csv("data/israel.csv")

,Unnamed: 0,date,cases_total,recoveries_total,deaths_total,total_removed,active_cases,day,I,R,period,pred_I,pred_R
0,1,2020-12-27,401470,364013,3226,367239,34231,341,34231,367239,1,34231.000000,367239.000000
1,2,2020-12-28,407285,366520,3256,369776,37509,342,37509,369776,1,36141.827577,369847.552914
2,3,2020-12-29,412398,369118,3292,372410,39988,343,39988,372410,1,38236.499871,372605.307115
3,4,2020-12-30,416584,372285,3307,375592,40992,344,40992,375592,1,40508.862804,375525.697575
4,5,2020-12-31,423262,376322,3325,379647,43615,345,43615,379647,1,42956.922204,378621.862326
...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,109,2021-04-14,836590,827562,6312,833874,2716,449,2716,833874,4,2781.020667,834136.538665
109,110,2021-04-15,836902,827934,6315,834249,2653,450,2653,834249,4,2575.435206,834440.725940
110,111,2021-04-16,836936,828235,6316,834551,2385,451,2385,834551,4,2384.993497,834720.372444
111,112,2021-04-17,836883,827966,6331,834297,2586,452,2586,834297,4,2208.590660,834977.286654
112,113,2021-04-18,837047,828488,6335,834823,2224,453,2224,834823,4,2045.200326,835213.144961